.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px;
    background-color: #7a7a7a;
    width: 100px;
    height: 150px;
    justify-content: center;
    border-radius: 8px;
}

.card p {
    margin: 4px 0;
}

.card img {
    width: 75px;
    height: 75px;
    object-fit: cover;
}