.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 32px;
    background-color: #4d4f4d;
    color: white;
}

.navBar {
    display: flex;
    gap: 40px;
}

.navBar a {
    color: #ffffff;
}

.darkModeToggle {
    background-color: #646cff;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}