.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 32px;
    background-color: #4d4f4d;
    color: white;
}

.navBar {
    display: flex;
    gap: 24px;
}
